body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 4px; /* For vertical scrollbars */
  height: 4px; /* For horizontal scrollbars */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #7c7373;
  border-radius: 4px; /* Rounded corners */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #313030;
  border-radius: 4px;
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}